<%= form_with model: @confession, local: true do |f| %>

    <div class="errors-container">
        <p>
            <% if @confession.errors.any? %>
                <ul>    
                    <% @confession.errors.full_messages.each do |message| %>
                        <li> <%= message %> </li>
                    <% end %>
                </ul>
            <% end %>
        </p>
    </div>

    <p>
        <label>Subject</label><br>
        <%= f.text_field :name, :placeholder => "$#*&!!" %>
    </p>

    <p>
        <label>Your Confession</label><br>
        <%= f.text_area :body, :cols => 50, :rows => 8, :placeholder => "What's on your mind, Momma?" %>
    </p>

    <p>
        <%= f.submit class: "button button-solid" %>
    </p>

<% end %>