<div class="title-area">
    <h1>Confessions</h1>
</div>

<div class="container">
    <% flash.each do |type, msg| %>
        <div class="flash-container">
            <p><%= msg %></p>
        </div>
    <% end %>
    <% @confessions.each do |confession| %>
        <div class="confession">
            <div class="confession-text">
                <h3><%= link_to confession.name, confession %></h3>
                <p><%= truncate( confession.body, length: 60, omission: '...' ) %></p>
                <p class="small"><%= time_ago_in_words(confession.created_at) %> ago</p>
            </div>
            <a href="/confessions/<%= confession.id %>"><i class="lni lni-eye"></i>&emsp;View</a>
            <a href="/confessions/<%= confession.id %>/edit"><i class="lni lni-pencil-alt"></i>&emsp;Edit</a>
            <%= link_to '<i class="lni lni-trash"></i>&emsp;Delete'.html_safe, confession,
                method: :delete,
                data: { confirm: "Are you sure you want to delete this confession? This action cannot be reversed." } %>
        </div>
    <% end %>
</div>


