<div class="title-area">
    <h6 class="low-contrast"> Confession #<%= @confession.id %></h6>
    <h2><%= @confession.name %></h2>
</div>

<div class="container">
    <div class="confession-body">
    <p class="big"><%= @confession.body %></p>
    <p class="centered low-contrast">Posted <%= time_ago_in_words(@confession.created_at) %> ago</p>
    </div>
</div>
<div class="buttons-container">
    <%= link_to '<i class="lni lni-pencil-alt"></i>&emsp;Edit'.html_safe, confessions_edit_path(@confession), class: "button button-solid" %>
    <%= link_to '<i class="lni lni-trash"></i>&emsp;Delete'.html_safe, @confession,
        class: "button button-outline",
        method: :delete,
        data: { confirm: "Are you sure you want to delete this confession? This action cannot be reversed." } %>
</div>
